{% extends 'base.html' %}

{% block content %}

<div class="submitted-bullet template" rel="" style="display: none;">
	<div class="roulette-text-submitted-vote">
		<div class="arrow-up"></div>
		<div class="vote-count"></div>
		<div class="arrow-down"></div>
	</div>
	<div class="roulette-text-submitted">
	</div>
	<div class="roulette-text-submitted-author">
		<span>submitted by <strong>@</strong></span>
		<img src="#" tmp="http://api.twitter.com/1/users/profile_image?&amp;size=mini" width="20px" height="20px" />
	</div>
</div>

{% endblock %}
