{% extends 'base.html' %}

{% block content %}
<div id="roulette-text-submitted-vote">
	<div class="arrow-up"></div>
	<div class="vote-count">0</div>
	<div class="arrow-down"></div>
</div>
<div class="roulette-text-submitted" id="roulette-text-submitted-1">
	<strong>@someone</strong> is the worst python developer on mars!
</div>
<div id="roulette-text-submitted-author">
<span>submitted by <strong>@chrissinchok</strong></span>
	<img src="https://twimg0-a.akamaihd.net/profile_images/75223043/n30110906_33349443_2157.jpg" width="20px" height="20px" />
</div>

<div class="clear" />
<div id="roulette-text-submitted-vote">
	<div class="arrow-up"></div>
	<div class="vote-count">0</div>
	<div class="arrow-down"></div>
</div>
<div class="roulette-text-submitted" id="roulette-text-submitted-1">
	<strong>@someone</strong> is the worst python developer on mars!
</div>
<div id="roulette-text-submitted-author">
<span>submitted by <strong>@chrissinchok</strong></span>
<img src="https://twimg0-a.akamaihd.net/profile_images/75223043/n30110906_33349443_2157.jpg" width="20px" height="20px" />
</div>

<div class="clear" />
<div id="roulette-text-submitted-vote">
	<div class="arrow-up"></div>
	<div class="vote-count">0</div>
	<div class="arrow-down"></div>
</div>
<div class="roulette-text-submitted" id="roulette-text-submitted-1">
	<strong>@someone</strong> is the worst python developer on mars!
</div>
<div id="roulette-text-submitted-author">
<span>submitted by <strong>@chrissinchok</strong></span>
<img src="https://twimg0-a.akamaihd.net/profile_images/75223043/n30110906_33349443_2157.jpg" width="20px" height="20px" />
</div>


{% endblock %}